<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <%- include ('../partials/head') %>
        <%- include ('../partials/menu') %>
        <style>
            .header-text {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;
            }
            .travel-text {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;
                color: #b30000
            }
            .content-wrapper {
                text-align: center;
                max-width: 800px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .playlist {
                margin-top: 40px;
                padding: 20px;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
            .playlist h2 {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            
        </style>
</head>

<body>
    <main>
        <div class="container">
            <br>
            <br>
            <div class="content-wrapper">
                <p><span class="travel-text"><%= city1_name %> </span><span class="header-text">to </span><span class="travel-text"><%= city1_name %></span></p>
                <h1>Your Playlist is ? minute(s) long</h1>
            </div>
            <br>
            <div class="playlist">
                <h2 style="color: rgba(0, 0, 0, 0.7); font-weight: bold"> Weather:</h2>
                <% for (var i = 0; i < city1_tracks.length; i++) { %>
                    <div style="text-align: center">
                        <h2><%= city1_tracks.artists[0].name %> - <%= city1_tracks.name %></h2>
                        <h6><%= city1_tracks.album.name %> Duration in minutes</h6>
                    </div>
                <%}%>
                <h2 style="color: rgba(0, 0, 0, 0.7); font-weight: bold"> Weather:</h2>
                <% for (var i = 0; i < city2_tracks.length; i++) { %>
                    <div style="text-align: center">
                        <h2><%= city2_tracks.artists[0].name %> - <%= city2_tracks.name %></h2>
                        <h6><%= city2_tracks.album.name %> Duration</h6>
                    </div>
                <%}%>
            </div>
        </div>
    </main>
</body>

</html>